$c-black: #000;

$c-1: rgba(29, 31, 34, 0.9);
$c-1-shade-1: rgba(34, 36, 39, 0.9);
$c-2: rgba(0, 148, 79, 0.2);
$c-3: rgb(28, 185, 112);
$c-3-shade-1: rgba(27, 151, 93, 0.8);

$c-text: rgb(220, 220, 220);
$c-text-dim: rgb(152, 143, 129);
