*{
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  font-family: arial;
  overflow: hidden;
}

body {
  background-image: url("../img/background.png");
  background-color: dimgray;
  width: 99vw;
  height: 94vh;
  margin: auto;
}

.shipActor{
  position: absolute;
  z-index: -1;
}

.menuButtons{
  display: block;
  width: 400px;
  height: 100px;
  color: white;
  background-color: rgb(70, 100, 100);
  margin: 25px auto;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}

input[type="text"]{
  height: 50px;
  border: inset;
  border-color: rgba(250, 250, 250, 0.8);
  background-color: rgb(15, 50, 50);
  outline: none;
}

input[type="text"]:focus { 
  background-color: rgba(0, 100, 88, 0.5);
}

::placeholder {
  color: gray;
}

a{
  text-decoration: none;
  line-height: 100px;
  transition: background-color 150ms;
}

a:hover{
  background-color: rgba(0, 100, 88, 0.5);
}

h1 {
  display: block;
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
}

table {
  color: white;
  border: 1px solid silver;
  font-size: 30px;
  width: 300px;
  margin: 50px auto;
  text-align: center;
  border-collapse: collapse;
  box-shadow:
  0 0 0 5px rgba(20, 55, 48, 0.8),
  0 0 0 10px rgba(20, 55, 48, 0.6),
  0 0 0 15px rgba(20, 55, 48, 0.4),
  0 0 0 20px rgba(20, 55, 48, 0.2);
}

table tr td{
  padding: 20px;
  border: 1px solid silver;
  width: 150px;
}

#gameButtons{
  width: 250px;
  height: 50px;
  margin-right: 80%;
  line-height: 50px;
  margin-right: 85%;
  font-size: 30px;
  text-align: center;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -384px;
  margin-left: -512px;
  border-radius: 1%;
  box-shadow:
  0 0 0 5px rgba(8, 22, 20, 0.8),
  0 0 0 10px rgba(8, 22, 20, 0.6),
  0 0 0 15px rgba(8, 22, 20, 0.4),
  0 0 0 20px rgba(8, 22, 20, 0.2);
}